body {
    background-color: #FFFFFF;
    color: #333;
    padding: 0.2rem 1.5rem;
}

img {
    border-radius: 4px;
    height: auto;
    width: 100%;
}

h1, cite {
    text-align: center;
}

h1 {
    margin-bottom: 0.2rem;
}

cite {
    margin-bottom: 1.5rem;
}

/* To cover the case where the credit is given as HTML rather than text. */
cite * {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0060df;
}

a:hover {
    text-decoration: underline;
}

#date {
    text-align: center;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

#datepicker {
    max-width: 80px;
    padding: 4px;
}

#loader {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picture-info {
    visibility: hidden;
}
