body {
    padding: 0.2rem 1.5rem;
}

img {
    border-radius: 4px;
    height: auto;
    width: 100%;
}

h1, cite {
    text-align: center;
}

h1 {
    margin-bottom: 0.2rem;
}

cite {
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: #0060df;
}

a:hover {
    text-decoration: underline;
}
