body {
    background-color: #FFFFFF;
    color: #333;
    padding: 0.2rem 1.5rem;
}

img {
    border-radius: 4px;
    height: auto;
    width: 100%;
}

h1, cite {
    text-align: center;
}

h1 {
    margin-bottom: 0.2rem;
}

cite {
    margin-bottom: 1.5rem;
}

/* To cover the case where the credit is given as HTML rather than text. */
cite * {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0060df;
}

a:hover {
    text-decoration: underline;
}

#date {
    text-align: center;
    visibility: hidden;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

#datepicker {
    max-width: 80px;
    padding: 4px;
}

#error-message {
    background-color: #d70022;
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 1rem;
    padding: 10px;
    display: none;
}

#error-icon {
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #d70022;
    width: 17px;
    height: 17px;
    text-align: center;
    display: inline-block;
}

#error-text {
    display: inline-block;
}

#loader {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picture-info {
    visibility: hidden;
}
